body {
    margin: 0
}

h1 {
    text-align: center;
    padding: 0;
    margin: 8px;
}

main {
    background-color: #FFFFFF;
    margin: 0 24px;
    height: 81vh;
    padding: 16px;
    overflow: scroll;
}

#stages-container {
    display: flex;
}

.stage {
    border: 3px #d8d8d8 solid;
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 4px
}

.stage-details {
    padding: 8px;
    text-align: center;
}

.stage-details h2, .stage-details p {
    margin: 8px;
}

.stage-content {
    padding: 8px;
}

.task {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 8px;
}


.task h2 {
    display: inline;
}

.task .tags {
    display: flex;
}

.task .tags span {
    margin: 4px 2px;
    padding: 4px;
    color: black;
    text-decoration: none;
    border-radius: 4px;
}

.task p {
    margin: 8px 0;
}

.finished h2 {
    text-decoration: line-through;
}

.subtask {
    margin-left: 8px;
    border-left: 3px solid #d8d8d8;
    padding: 8px;
}

.subtask h3 {
    padding: 0;
    margin: 0;
}

#board-select {
    position: fixed;
    bottom: 0;
    margin-left: 16px;
}

#board-select button {
    padding: 12px 18px;
    border-radius: 8px 8px 0 0;
}

dialog {
    width: 40vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

dialog::backdrop {
    background-color: #00000040;
    backdrop-filter: blur(3px);
}

form {
    width: 80%;
    margin: 0 auto;
}

.inputRow {
    width: 100%;
    display: flex;
    padding: 10px;
    align-content: center;
}

.inputRow label {
    display: inline-block;
    width: 120px;
    margin: auto 10px;
    text-align: right;
}

.inputRow input, .inputRow textarea {
    width: calc(100% - 130px);
}

.formActions {
    text-align: center;
}

.formActions button {
    margin: 5px;
    font-size: 16px;
}